ShaderDemoCollection/Library/
ShaderDemoCollection/.vs/
ShaderDemoCollection/Assembly-CSharp.csproj
ShaderDemoCollection/ShaderDemoCollection.sln
ShaderDemoCollection/Logs/
ShaderDemoCollection/obj/
ShaderDemoCollection/Temp/
